## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as wb
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## MSFT

In [5]:
MSFT=wb.DataReader('MSFT', data_source='yahoo', start='2007-1-1')['Adj Close']

## Apple

In [6]:
AAPL=wb.DataReader('AAPL', data_source='yahoo', start='2007-1-1')['Adj Close']

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [31]:
#Assuming yearly returns

returns_aapl=np.log(AAPL/AAPL.shift(1))
returns_msft=np.log(MSFT/MSFT.shift(1))

all_returns=pd.concat([returns_aapl, returns_msft], keys=['AAPL', 'MSFT'], axis=1).fillna(value=0)
all_returns.head()

                AAPL      MSFT
Date
2007-01-03  0.000000  0.000000
2007-01-04  0.021953 -0.001676
2007-01-05 -0.007147 -0.005719
2007-01-08  0.004926  0.009736
2007-01-09  0.079800  0.001002

In [32]:
all_returns.mean()

AAPL    0.001033
MSFT    0.000633
dtype: float64

In [33]:
all_returns.mean()*250

AAPL    0.258373
MSFT    0.158356
dtype: float64

Covariance matrix:

In [40]:
cov=all_returns.cov()*250
cov

          AAPL      MSFT
AAPL  0.103725  0.048959
MSFT  0.048959  0.079839

Correlation matrix:

In [35]:
all_returns.corr()

          AAPL      MSFT
AAPL  1.000000  0.537998
MSFT  0.537998  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [60]:
#The cov matrix already represents yearly covariance
weights=np.array([0.5,0.5])

portfolio_variance=np.dot(weights.T,np.dot(cov,weights))

Portfolio Variance:

In [61]:
portfolio_variance

0.0703705570205449

Portfolio Volatility:

In [64]:
portfolio_volatility=np.sqrt(np.dot(weights.T,np.dot(cov,weights)))

In [65]:
print('{:.2f}%'.format(portfolio_volatility*100))

26.53%